/JavaScript/React/TraversyMedia/react-crash-course/todo/node_modules
/JavaScript/React/TraversyMedia/react-crash-course/todo/.pnp
/JavaScript/React/TraversyMedia/react-crash-course/todo/.pnp.js

# testing
/JavaScript/React/TraversyMedia/react-crash-course/todo//coverage

# production
/JavaScript/React/TraversyMedia/react-crash-course/todo/build

# misc
/JavaScript/React/TraversyMedia/react-crash-course/todo/.DS_Store
/JavaScript/React/TraversyMedia/react-crash-course/todo/.env.local
/JavaScript/React/TraversyMedia/react-crash-course/todo/.env.development.local
/JavaScript/React/TraversyMedia/react-crash-course/todo/.env.test.local
/JavaScript/React/TraversyMedia/react-crash-course/todo/.env.production.local

/JavaScript/React/TraversyMedia/react-crash-course/todo/npm-debug.log*
/JavaScript/React/TraversyMedia/react-crash-course/todo/yarn-debug.log*
/JavaScript/React/TraversyMedia/react-crash-course/todo/yarn-error.log*